OneClick.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const output = [];\n\n// Get full webhook payload\nconst prev = $('Webhook').first().json;\n\n// Extract caption safely\nconst caption = prev.body?.caption || '';\n\nfor (const item of $input.all()) {\n  const binaries = item.binary || {};\n\n  for (const key of Object.keys(binaries)) {\n    output.push({\n      json: {\n        ...prev,                 // keep all webhook data\n        caption: caption,        // ✅ normalized caption field\n        originalBinaryField: key,\n        fileName: binaries[key].fileName || key,\n      },\n      binary: {\n        image: binaries[key],    // keep binary\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3568,
        2720
      ],
      "id": "dad020bb-1b28-48a2-9bb8-c3666500fe6b",
      "name": "Output multiple images into 1  names"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ccbdb5ee-ca4b-4c9c-b6f4-47fa7ba2843e",
        "authentication": "basicAuth",
        "options": {
          "binaryPropertyName": "image"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2224,
        2320
      ],
      "id": "f385de0e-7e34-41e1-9e2b-3f7015582ec0",
      "name": "Webhook",
      "webhookId": "ccbdb5ee-ca4b-4c9c-b6f4-47fa7ba2843e",
      "credentials": {
        "httpBasicAuth": {
          "id": "L6pSweN1zXVTWKmC",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "ai",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "c7ed8ed6-6479-42c0-9ef0-b69908b8d550"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ai"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2ac7bfc1-2ccc-4ffc-ad60-b8af71cbb8ae",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "manual",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manual"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a230856c-96fd-4934-8b41-6e3427108d24",
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2384,
        2304
      ],
      "id": "d7b85e56-4302-4bbe-ad5e-da4ab11d0bd8",
      "name": "Seperate Mode"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "text": "=Analyze the image and generate a social media caption.\n\nSTRICT RULES:\n- Return ONLY the caption (no labels like \"Caption:\", no markdown, no quotes)\n- Do NOT include hashtags\n- Do NOT include symbols like *, >, unless natural in sentence\n- Keep it 3–4 sentences only\n- Keep it concise and engaging\n\n{{ $json.feedback && $json.feedback.toLowerCase() !== 'approved' ? 'IMPORTANT - THIS IS A REVISION REQUEST, DO NOT ANALYZE THE IMAGE AGAIN:\\nPrevious caption: ' + $json.prevCaption + '\\nEdit instructions: ' + $json.feedback + '\\nApply the edit instructions to improve the previous caption.' : '' }}\n\nOutput format:\nPlain text only",
        "inputType": "binary",
        "binaryPropertyName": "image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        2896,
        2176
      ],
      "id": "3b99c4c3-6968-4956-9a9f-5c40c364e330",
      "name": "Analyze image",
      "credentials": {
        "anthropicApi": {
          "id": "KJA2n9xKANqxFwCp",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nconst prev = $('Webhook').first().json;\n\nfor (const item of $input.all()) {\n  const binaries = item.binary || {};\n\n  for (const key of Object.keys(binaries)) {\n    output.push({\n      json: {\n        ...prev, // keep form data\n        originalBinaryField: key,\n        fileName: binaries[key].fileName || key,\n      },\n      binary: {\n        image: binaries[key],\n      },\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        2176
      ],
      "id": "307fb0ab-5be8-4323-931b-602340d28c12",
      "name": "Output multiple images into 1  names1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body['platforms[]']",
        "include": "allOtherFields",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4912,
        2384
      ],
      "id": "f71fbb88-e18b-480a-a0ac-aed62f83406a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $('Analyze image').all();\nconst imageItems = $('Output multiple images into 1  names1').all();\n\nfunction cleanCaption(text) {\n  return text\n    // remove \"Caption:\" or similar headings\n    .replace(/#?\\s*🤖?\\s*caption:\\s*/i, '')\n\n    // remove \"Hashtags\" section completely\n    .replace(/---[\\s\\S]*$/i, '')\n\n    // remove markdown (**, ##, etc.)\n    .replace(/[*#_`]/g, '')\n\n    // remove quotes at start/end\n    .replace(/^\"+|\"+$/g, '')\n\n    // trim extra spaces/newlines\n    .trim();\n}\n\nreturn aiItems.map((aiItem, index) => {\n  const raw =\n    aiItem.json.text ||\n    aiItem.json.content?.[0]?.text ||\n    '';\n\n  const cleaned = cleanCaption(raw);\n\n  return {\n    json: {\n      ...imageItems[index].json,\n      caption: cleaned\n    },\n    ...(imageItems[index].binary && {\n      binary: imageItems[index].binary\n    })\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        2176
      ],
      "id": "8dc7355d-fbbb-4865-a4aa-91d9a525bb44",
      "name": "Extract AI Response"
    },
    {
      "parameters": {
        "jsCode": "const waitData = $('Wait').all();\nconst aiItems = $('Set').all();\nconst imageItems = $('Output multiple images into 1  names1').all();\nconst webhookData = $('Webhook').all();\n\nconst caption = aiItems[0].json.caption ?? '';\nconst feedback = waitData[0].json.body?.data?.approval ?? \n                 waitData[0].json.data?.approval ??\n                 waitData[0].json.body?.approval ?? '';\n\nconst binary = imageItems[0].binary ?? {};\n\nreturn [{\n  json: {\n    prevCaption: caption,\n    feedback: feedback,\n    executionId: webhookData[0].json.body?.executionId ?? '',\n  },\n  binary: {\n    image: binary.image ?? binary.data ?? Object.values(binary)[0]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        2272
      ],
      "id": "1386f7cb-b95b-4cec-bbdb-d393558fa969",
      "name": "Extract Caption Feedback"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Webhook').first().json;\nconst setItem = $('Set').last().json;\n\nconst platforms = \n  prev.body?.['platforms[]'] ||\n  prev.body?.platforms ||\n  [];\n\n// get ALL images from the original node\nconst allImages = $('Output multiple images into 1  names1').all();\n\nreturn allImages.map((imageItem) => {\n  return {\n    json: {\n      // from Webhook\n      ...prev,\n      platforms: platforms,\n      executionMode: prev.executionMode ?? '',\n      webhookUrl: prev.body?.webhookUrl ?? '',\n      mode: prev.body?.mode ?? '',\n      filenames: prev.body?.filenames ?? [],\n      submitted_at: prev.body?.submitted_at ?? '',\n      image_count: prev.body?.image_count ?? 1,\n\n      // from Set (latest caption data)\n      caption: setItem.caption ?? '',\n      fileName: imageItem.json.fileName ?? prev.body?.filenames?.[0] ?? '',\n      executionId: setItem.executionId ?? prev.body?.executionId ?? '',\n      resumeUrl: setItem.resumeUrl ?? '',\n    },\n    // each image gets its own binary\n    ...(imageItem.binary && {\n      binary: imageItem.binary\n    })\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        2080
      ],
      "id": "4b39b6af-fadd-435b-a0c7-63f7cdbac5a6",
      "name": "Extract final response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d2b886b-218e-41bd-86df-e045dc79db44",
              "leftValue": "={{ $json.body.data.approval }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4240,
        2080
      ],
      "id": "83006599-793f-4122-bc00-4588d0fa34a6",
      "name": "Confirm"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://subaqua-rosemarie-organizable.ngrok-free.dev/api/caption-review",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $json.executionId }}\",\n  \"resumeUrl\": \"{{ $json.resumeUrl }}\",\n  \"caption\": \"{{ $json.caption }}\",\n  \"fileName\": \"{{ $json.fileName }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        2176
      ],
      "id": "04a785f8-4c23-4163-b87d-2ee705ebef7d",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "L6pSweN1zXVTWKmC",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=You are editing an existing social media caption based on user feedback.\n\nCURRENT CAPTION:\n{{ $json.prevCaption }}\n\nEDIT INSTRUCTIONS:\n{{ $json.feedback }}\n\nSTRICT RULES:\n- Apply ONLY the requested changes\n- Do NOT re-analyze or describe the image\n- Do NOT add labels like \"Caption:\", no markdown, no quotes\n- Do NOT include symbols like *, >, or emojis unless natural in sentence\n- Keep it 3–4 sentences only\n- Return ONLY the updated caption, nothing else\n\nOutput format:\nPlain text only"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        4464,
        2272
      ],
      "id": "9799bae7-34c4-4b59-acfa-68d64c5b4f24",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "KJA2n9xKANqxFwCp",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.last().json;\n\n// Debug - remove after confirming\n// console.log(JSON.stringify(input));\n\nconst caption = \n  input.text ||\n  input.caption ||\n  input.body?.caption ||\n  input.content?.[0]?.text ||\n  '';\n\n// platforms come as 'platforms[]' from multipart form\nconst webhookBody = $('Webhook').first().json.body;\nconst platforms = \n  webhookBody?.['platforms[]'] ||\n  webhookBody?.platforms ||\n  [];\n\n// filenames also come as array\nconst fileName = \n  webhookBody?.filenames?.[0] ||\n  webhookBody?.['filenames[]']?.[0] ||\n  '';\n\nreturn [{\n  json: {\n    caption,\n    executionId: webhookBody?.executionId ?? '',\n    fileName,\n    platforms,\n    resumeUrl: $execution.resumeUrl,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        2176
      ],
      "id": "36f0b0e0-51bd-439c-bc27-c603b66413f5",
      "name": "Set"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84042947-7e49-47b0-93f2-0d844de5358a",
              "leftValue": "={{ $json.body.data.approval }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4016,
        2176
      ],
      "id": "59e67b6e-c29f-4f12-88c5-af6ec9fb1789",
      "name": "If Approved or Not"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3792,
        2176
      ],
      "id": "d3ebf3b2-9b17-4dbf-ac86-619d2ddc9591",
      "name": "Wait",
      "webhookId": "c1e8c1a8-aa12-4d6d-a67e-1204061d82c4"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "options": {}
      },
      "id": "7ece5a2e-a46c-4d52-b165-79347f4d702c",
      "name": "Linkedin User URN",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5824,
        3488
      ],
      "typeVersion": 4.2,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "0VJOABj8e0qX2ThZ",
          "name": "portfolio-app 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/images?action=initializeUpload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202504"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"initializeUploadRequest\": {\n       \"owner\": \"{{ 'urn:li:person:' + $('Linkedin User URN').item.json.sub }}\"\n  }\n}",
        "options": {}
      },
      "id": "fe9a3a62-91b1-4341-b125-5e76f2025dd9",
      "name": "Get Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6048,
        3488
      ],
      "typeVersion": 4.2,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "0VJOABj8e0qX2ThZ",
          "name": "portfolio-app 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/rest/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202504"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"author\": \"urn:li:person:\" + $('Linkedin User URN').first().json.sub,\n    \"commentary\": $('If3').item.json.caption,\n    \"visibility\": \"PUBLIC\",\n    \"distribution\": {\n      \"feedDistribution\": \"MAIN_FEED\",\n      \"targetEntities\": [],\n      \"thirdPartyDistributionChannels\": []\n    },\n    \"content\": {\n      \"multiImage\": {\n        \"images\": $('Collect All Asset').first().json.assets\n      }\n    },\n    \"lifecycleState\": \"PUBLISHED\",\n    \"isReshareDisabledByAuthor\": false\n  }\n}}",
        "options": {}
      },
      "id": "a18d4b86-0d32-49fa-afb7-89bef33d25cc",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6048,
        3296
      ],
      "typeVersion": 4.2,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "0VJOABj8e0qX2ThZ",
          "name": "portfolio-app 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Get Upload URL').item.json.value.uploadUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202504"
            },
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "image",
        "options": {}
      },
      "id": "87f5031d-73c6-4b32-a30a-86d895f46d15",
      "name": "Upload Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6496,
        3488
      ],
      "typeVersion": 4.2,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "0VJOABj8e0qX2ThZ",
          "name": "portfolio-app 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5600,
        3488
      ],
      "id": "931fb8c7-ead1-4b63-8f7e-7f5019c1cf26",
      "name": "Loop"
    },
    {
      "parameters": {
        "jsCode": "const formItems = $('Loop').all();\n\nreturn $input.all().map((item, index) => {\n  const formItem = formItems[index];\n  \n  return {\n    json: {\n      ...item.json,\n      caption: $('Filter').first().json.caption\n    },\n    binary: {\n      image: formItem.binary?.image  // ✅ pull binary from Form node\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6272,
        3488
      ],
      "id": "e24cba96-c516-4dcc-a1bd-1be74e1046bf",
      "name": "Pass Binary Data"
    },
    {
      "parameters": {
        "jsCode": "const assets = [];\n\nfor (const item of $input.all()) {\n  const imageURN = item.json?.value?.image;\n  if (imageURN) {\n    assets.push({ id: imageURN }); // ✅ new format uses 'id' not 'media'\n  }\n}\n\nreturn [{\n  json: {\n    assets,\n    caption: $input.first().json.caption\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5824,
        3296
      ],
      "id": "eadf40d0-e84d-48cf-929e-b2bc1e4fb3fa",
      "name": "Collect All Asset"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    ...item.json,\n    value: $('Get Upload URL').first().json.value // safe, 1 item per iteration\n  },\n  binary: item.binary\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        3568
      ],
      "id": "93656df9-a026-406d-aa1a-d37fc0ece758",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10b43eff-1839-49db-b6cb-6bc4b4a2e6dd",
              "leftValue": "={{ $json.body.image_count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5360,
        1680
      ],
      "id": "bc436645-7a49-4650-b44c-386fc78fa018",
      "name": "If1"
    },
    {
      "parameters": {
        "person": "qGb39TsoXp",
        "text": "={{ $json.caption }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "image",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        5600,
        3104
      ],
      "id": "84835ddf-bed4-43e9-a952-b4f7d357a8e3",
      "name": "Create a post1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "CJzbrRsAoBvocGSS",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5792,
        2496
      ],
      "id": "6588fafe-3f69-4961-b27e-6b4fd477f892",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "file": "image",
        "additionalFieldsFile": {
          "folder": "Porfolio-Post-Image"
        }
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        6016,
        2496
      ],
      "id": "da2985af-b817-4af4-b92a-0c347e122251",
      "name": "Upload an asset from file1",
      "credentials": {
        "cloudinaryApi": {
          "id": "Hknmqw6Z4JbsNHOK",
          "name": "portfolio-Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841462775650081",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        6464,
        2544
      ],
      "id": "7950da77-5c37-4b80-a52d-8be8358714b8",
      "name": "Instagram Container-",
      "credentials": {
        "facebookGraphApi": {
          "id": "9TyspN7BemAYf6Jf",
          "name": "NullzCollectionPageToken"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// In a Code node before the IG Post node\nconst url = $input.first().json.url;\nconst transformed = url.replace('/upload/', '/upload/c_fill,ar_4:5,w_1080/');\n\nreturn [{ json: { url: transformed } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6240,
        2496
      ],
      "id": "c53ffe13-7a13-4263-ba5b-59bd98a04072",
      "name": "Turn image Landsape3"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841462775650081",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "=CAROUSEL"
              },
              {
                "name": "children",
                "value": "={{ $json.children }}"
              },
              {
                "name": "caption",
                "value": "={{ $('If').item.json.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        6240,
        2304
      ],
      "id": "90e5219d-f959-4f34-82d5-2b6011d2ff3f",
      "name": "Instagram Container-3",
      "credentials": {
        "facebookGraphApi": {
          "id": "9TyspN7BemAYf6Jf",
          "name": "NullzCollectionPageToken"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ids = $input.all().map(item => item.json.id);\n//const prev = $('Loop Over Items1').first().json;\n\nreturn [{\n // ...prev,\n  json: {\n    children: ids.join(',')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        2304
      ],
      "id": "08693f1a-2aeb-4583-865d-e7ce0c7a0852",
      "name": "Extract ID1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841462775650081",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "caption",
                "value": "={{ $('If').item.json.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        6464,
        2304
      ],
      "id": "adbca15e-7362-4beb-bd0e-74a2d943930d",
      "name": "IG publish1",
      "credentials": {
        "facebookGraphApi": {
          "id": "9TyspN7BemAYf6Jf",
          "name": "NullzCollectionPageToken"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const media = $input.all().map(item => ({\n  media_fbid: item.json.id\n}));\n\nreturn [{\n  json: {\n    attached_media: media\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5808,
        1728
      ],
      "id": "d63361b8-c789-4a6b-980f-c65f02e035b5",
      "name": "Extract FB ID"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "image",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "published",
                "value": "=false"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        5808,
        1920
      ],
      "id": "8a357dbb-2a9a-43df-9aae-526551c5a121",
      "name": "Facebook Container1",
      "credentials": {
        "facebookGraphApi": {
          "id": "9TyspN7BemAYf6Jf",
          "name": "NullzCollectionPageToken"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "attached_media",
                "value": "={{ $json.attached_media }}"
              },
              {
                "name": "message",
                "value": "={{ $('If1').item.json.body.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        6032,
        1728
      ],
      "id": "c22c8d67-e3f6-45e5-9c37-7f7771651e05",
      "name": "Facebook Publish1",
      "credentials": {
        "facebookGraphApi": {
          "id": "9TyspN7BemAYf6Jf",
          "name": "NullzCollectionPageToken"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5584,
        1856
      ],
      "id": "0c96b0d5-ea7b-4060-b218-e7718affc5e3",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "file": "image",
        "additionalFieldsFile": {
          "folder": "Porfolio-Post-Image"
        }
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        5584,
        2112
      ],
      "id": "97fb77e9-d8c9-4e76-bff6-e09e5164feae",
      "name": "Upload an asset from file data1",
      "credentials": {
        "cloudinaryApi": {
          "id": "Hknmqw6Z4JbsNHOK",
          "name": "portfolio-Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841462775650081",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('If').item.json.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        6032,
        2112
      ],
      "id": "c1033b28-074b-47da-8ba1-61154c5acfa5",
      "name": "Instagram Container1",
      "credentials": {
        "facebookGraphApi": {
          "id": "9TyspN7BemAYf6Jf",
          "name": "NullzCollectionPageToken"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841462775650081",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Turn image Landsape1').item.json.url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('If').item.json.caption }}"
              },
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        6256,
        2112
      ],
      "id": "937acaec-da11-4cc9-a1fb-51d9d05d04a5",
      "name": "Instagram Post1",
      "credentials": {
        "facebookGraphApi": {
          "id": "9TyspN7BemAYf6Jf",
          "name": "NullzCollectionPageToken"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "image",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.caption }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        5584,
        1536
      ],
      "id": "cf5e31b2-7f3d-4500-85fb-b1a3617ec46d",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "9TyspN7BemAYf6Jf",
          "name": "NullzCollectionPageToken"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// In a Code node before the IG Post node\nconst url = $input.first().json.url;\nconst transformed = url.replace('/upload/', '/upload/c_fill,ar_4:5,w_1080/');\n\nreturn [{ json: { url: transformed } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5808,
        2112
      ],
      "id": "f464b267-9bf4-41d3-ba27-83813db85c35",
      "name": "Turn image Landsape1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJG07NL5V",
          "mode": "id"
        },
        "text": "(Single Image)\n\nSuccessfully Posted on IG look it here --> https://www.instagram.com/nullscollection/",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        6480,
        2112
      ],
      "id": "add60fa0-dd1e-49f0-8f49-977d1925e941",
      "name": "IG",
      "webhookId": "d18ff656-1062-4caf-8fc8-be3befaa5fcb",
      "credentials": {
        "slackApi": {
          "id": "m865hA2TiFxS4FTi",
          "name": "Social-media-post-app"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJG07NL5V",
          "mode": "id"
        },
        "text": "(Single Image)\n\nSuccessfully Posted on LinkedIn look it here -->https://www.linkedin.com/in/raffy-francisco-50607b325/recent-activity/all/",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        5824,
        3104
      ],
      "id": "3635a1e6-68ca-4c19-93bb-79b53b23b371",
      "name": "LINKEDIN",
      "webhookId": "d18ff656-1062-4caf-8fc8-be3befaa5fcb",
      "credentials": {
        "slackApi": {
          "id": "m865hA2TiFxS4FTi",
          "name": "Social-media-post-app"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJG07NL5V",
          "mode": "id"
        },
        "text": "(Single Image)\n\nSuccessfully Posted on FB look it here --> https://www.facebook.com/NullsCollection",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        5808,
        1536
      ],
      "id": "9f50d6b0-63d2-49ef-97a7-632b8223ad8b",
      "name": "FB",
      "webhookId": "d18ff656-1062-4caf-8fc8-be3befaa5fcb",
      "credentials": {
        "slackApi": {
          "id": "m865hA2TiFxS4FTi",
          "name": "Social-media-post-app"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJG07NL5V",
          "mode": "id"
        },
        "text": "(Carousel Image)\n\nSuccessfully Posted on IG look it here --> https://www.instagram.com/nullscollection/",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        6688,
        2304
      ],
      "id": "982efdca-a68c-4c67-b0e6-2879648637f6",
      "name": "IG1",
      "webhookId": "d18ff656-1062-4caf-8fc8-be3befaa5fcb",
      "credentials": {
        "slackApi": {
          "id": "m865hA2TiFxS4FTi",
          "name": "Social-media-post-app"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJG07NL5V",
          "mode": "id"
        },
        "text": "(Carousel Image)\n\nSuccessfully Posted on LinkedIn look it here -->https://www.linkedin.com/in/raffy-francisco-50607b325/recent-activity/all/",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        6272,
        3296
      ],
      "id": "cf7b70b0-6061-4a66-832c-06d41ee46357",
      "name": "LINKEDIN1",
      "webhookId": "d18ff656-1062-4caf-8fc8-be3befaa5fcb",
      "credentials": {
        "slackApi": {
          "id": "m865hA2TiFxS4FTi",
          "name": "Social-media-post-app"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJG07NL5V",
          "mode": "id"
        },
        "text": "(Carousel Image)\n\nSuccessfully Posted on FB look it here --> https://www.facebook.com/NullsCollection",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        6256,
        1728
      ],
      "id": "46f3c0d9-b61a-4724-8fb7-861ec045a1a5",
      "name": "FB1",
      "webhookId": "d18ff656-1062-4caf-8fc8-be3befaa5fcb",
      "credentials": {
        "slackApi": {
          "id": "m865hA2TiFxS4FTi",
          "name": "Social-media-post-app"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10b43eff-1839-49db-b6cb-6bc4b4a2e6dd",
              "leftValue": "={{ $json.body.image_count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5360,
        2304
      ],
      "id": "feb435f4-191c-4bef-89e8-8354a38dbdfd",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96f305f3-2100-4fb7-9a63-9c3f67c6199a",
              "leftValue": "={{ $json.image_count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5584,
        2784
      ],
      "id": "b8fd0d31-0c46-4c9d-9d9a-dca48dfeedd8",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96f305f3-2100-4fb7-9a63-9c3f67c6199a",
              "leftValue": "={{ $json.body.image_count }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5376,
        3296
      ],
      "id": "b77a4d5d-cf48-445b-8362-73fcb661c7ca",
      "name": "If3"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 1536,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5360,
        3088
      ],
      "typeVersion": 1,
      "id": "29bfb529-2784-45ae-af97-4e5c2fd22c26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 576,
        "width": 1520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5552,
        2096
      ],
      "typeVersion": 1,
      "id": "337f0283-98c1-4661-9d5d-5e28c4248038",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 576,
        "width": 1072,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5328,
        1456
      ],
      "typeVersion": 1,
      "id": "31e97cac-a3da-4b76-81e6-577f418b6136",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['body[\\'platforms[]\\']'] }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d6d46a75-2be6-45c9-8e71-b94ceaa00305"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c9282d26-0e53-4af8-a22b-49538d17c9b3",
                    "leftValue": "={{ $json['body[\\'platforms[]\\']'] }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9ad45d6c-dabe-4e91-bc29-0493ed78caef",
                    "leftValue": "={{ $json['body[\\'platforms[]\\']'] }}",
                    "rightValue": "=twitter",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9894ba57-f803-4f14-a482-7fb1d94096f2",
                    "leftValue": "={{ $json['body[\\'platforms[]\\']'] }}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5104,
        2352
      ],
      "id": "4f96a5ca-ae32-47c5-8d18-b33d69b4c5d4",
      "name": "Filter"
    },
    {
      "parameters": {
        "text": "TEst",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        5872,
        2768
      ],
      "id": "16fa3e83-4d8c-4305-af44-8aa3b10468c0",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "zjaUqymx5cLpVwoE",
          "name": "X account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7536,
        2416
      ],
      "id": "b48a8c35-7455-43d5-b33c-13208266223a",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://subaqua-rosemarie-organizable.ngrok-free.dev/api/post-complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"executionId\": \"{{ $('Webhook').first().json.body.executionId }}\",\n  \"status\": \"success\",\n  \"caption\": \"{{ $('Filter').item.json.caption }}\",\n  \"platforms\": {{ JSON.stringify($('Webhook').first().json.body['platforms[]'] ?? $('Webhook').first().json.body.platforms ?? []) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7792,
        2480
      ],
      "id": "09288018-fb69-4ba8-ad9a-0d032fee50b7",
      "name": "Send Success Alert",
      "credentials": {
        "httpBasicAuth": {
          "id": "L6pSweN1zXVTWKmC",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Output multiple images into 1  names": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Seperate Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seperate Mode": {
      "main": [
        [
          {
            "node": "Output multiple images into 1  names1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output multiple images into 1  names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output multiple images into 1  names1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Caption Feedback": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract final response": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm": {
      "main": [
        [
          {
            "node": "Extract final response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved or Not": {
      "main": [
        [
          {
            "node": "Confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Caption Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If Approved or Not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin User URN": {
      "main": [
        [
          {
            "node": "Get Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Upload URL": {
      "main": [
        [
          {
            "node": "Pass Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "LINKEDIN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Collect All Asset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linkedin User URN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Binary Data": {
      "main": [
        [
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Asset": {
      "main": [
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        [
          {
            "node": "LINKEDIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Extract ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload an asset from file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file1": {
      "main": [
        [
          {
            "node": "Turn image Landsape3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Container-": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn image Landsape3": {
      "main": [
        [
          {
            "node": "Instagram Container-",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Container-3": {
      "main": [
        [
          {
            "node": "IG publish1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ID1": {
      "main": [
        [
          {
            "node": "Instagram Container-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG publish1": {
      "main": [
        [
          {
            "node": "IG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract FB ID": {
      "main": [
        [
          {
            "node": "Facebook Publish1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Container1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Publish1": {
      "main": [
        [
          {
            "node": "FB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Extract FB ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Container1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data1": {
      "main": [
        [
          {
            "node": "Turn image Landsape1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Container1": {
      "main": [
        [
          {
            "node": "Instagram Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Post1": {
      "main": [
        [
          {
            "node": "IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn image Landsape1": {
      "main": [
        [
          {
            "node": "Instagram Container1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload an asset from file data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINKEDIN1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "LINKEDIN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "IG1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "IG": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "FB1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send Success Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "71141def-159c-4d68-a19f-8f2bd6e3a9ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8bbc720ec703f11efaa7199117f6ed0f60e2f7de53f2082e4d68e43b8e81500a"
  },
  "id": "9oKq6llEX73PQwZ7",
  "tags": []
}